doctype html
html( class="no-js")  
    head
        title= title
       

        link(href='../css/main.css', rel='stylesheet')
        //-    //- link(href='/css/all.css', rel='stylesheet') 
        //-   <meta charset="utf-8">
        //- //- <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
        meta( name='keywords', content='' ) 
        meta( name='description', content='' ) 
        
        //- <!--    Authentic Template   http://www.templatemo.com/tm-412-authentic    -->
        meta( name='viewport', content='width=device-width' ) 
        link(rel='stylesheet', type='text/css', href='../templateInside/css/templatemo_main.css') 
     
    body
        div#main-wrapper
                div.container
                    include ./templateAdmin
                    div(style="display: table;  overflow: hidden; width:100%;")
                        div.pagename Edit User     
            
        form(name='editUser' , method='POST' , action='/editUser') 
           
            .container
                    .col-xs-3.col-sm-3.col-md-3.col-lg-3
                    .input-group.col-xs-6.col-sm-6.col-md-6.col-lg-6
                        .input-group-prepend
                            span.input-group-text.textfield Username
                        input.form-control(placeholder="username" name="userName" width="200px" value=txt_username )
                    .col-xs-3.col-sm-3.col-md-3.col-lg-3
                    .input-group.col-xs-6.col-sm-6.col-md-6.col-lg-6
                        .input-group-prepend
                            span.input-group-text.textfield Password
                        input.form-control(placeholder="password" type='text' name="passWord"  width="200px" value=txt_password )
                    .col-xs-3.col-sm-3.col-md-3.col-lg-3
                    .input-group.col-xs-6.col-sm-6.col-md-6.col-lg-6
                        .input-group-prepend
                            span.input-group-text.textfield สิทธ์ผู้ใช้งาน
                        select.form-control( name="role"  width="200px" )
                          if(role=='general')
                            option(value='admin' ) ผู้ดูแลระบบ
                            option(value='general' selected) ผู้ใช้งานทั่วไป
                          else                      
                            option(value='admin' selected) ผู้ดูแลระบบ
                            option(value='general') ผู้ใช้งานทั่วไป
                    .col-xs-3.col-sm-3.col-md-3.col-lg-3
                    .input-group.col-xs-6.col-sm-6.col-md-6.col-lg-6
                        .input-group-prepend
                            span.input-group-text.textfield ชื่อ นามสกุล
                        input.form-control(placeholder="fullname" name="fullName"  width="200px"  value=txt_fullname )
                    .col-xs-3.col-sm-3.col-md-3.col-lg-3
                    .input-group.col-xs-6.col-sm-6.col-md-6.col-lg-6
                        .input-group-prepend
                            span.input-group-text.textfield ตำแหน่ง
                        input.form-control(placeholder="position" name="position"  width="200px" value=txt_position )
                    .col-xs-3.col-sm-3.col-md-3.col-lg-3
                    .input-group.col-xs-6.col-sm-6.col-md-6.col-lg-6
                        .input-group-prepend
                            span.input-group-text.textfield เบอร์โทรศัพท์
                        input.form-control(placeholder="mobileno" name="mobileNo"  width="200px"  type="tel" maxlength="13" value=txt_mobile )
                    .col-xs-3.col-sm-3.col-md-3.col-lg-3
                    .input-group.col-xs-6.col-sm-6.col-md-6.col-lg-6
                        .input-group-prepend
                            span.input-group-text.textfield Line ID
                        input.form-control(placeholder="lineid" name="lineId"  width="200px" value=txt_lineid )
                    .col-xs-3.col-sm-3.col-md-3.col-lg-3
                    .input-group.col-xs-6.col-sm-6.col-md-6.col-lg-6
                        .input-group-prepend
                            span.input-group-text.textfield Email
                        input.form-control(placeholder="email" name="email"  width="200px" type="email" value=txt_email )
                    .col-xs-3.col-sm-3.col-md-3.col-lg-3 
                        input(type="text",name="_id",value=_id style="display:none;") 
                        input(type="text",name="salt",value=salt style="display:none;") 
                    br 
                    input.btn.btn-primary.btn-block(type="submit"  value="Save" style="width:150px; margin:auto;"  )
                    br 
                    each msg in messages   
                        .flash
                            = msg
                
                script(src='../templateInside/js/jquery.min.js')
                script(src='../templateInside/js/jquery.backstretch.min.js')
                script(src='../templateInside/js/jquery.flexslider.min.js')
                script(src='../templateInside/js/bootstrap.min.js')
                script(src='../templateInside/js/templatemo_script.js')