doctype html
html( class="no-js")  
    head
        title= title
       

        link(href='/css/main.css', rel='stylesheet')
        link(rel='stylesheet', type='text/css', href='templateInside/css/bootstrap.min.css') 
        //-    //- link(href='/css/all.css', rel='stylesheet') 
        //-   <meta charset="utf-8">
        //- //- <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
        meta( name='keywords', content='' ) 
        meta( name='description', content='' ) 
        
        //- <!--    Authentic Template   http://www.templatemo.com/tm-412-authentic    -->
        meta( name='viewport', content='width=device-width' ) 
        link(rel='stylesheet', type='text/css', href='templateInside/css/templatemo_main.css') 
       
        script(src='jquery/dist/jquery-3.3.1.js')
        script.
            $(document).ready(function() {
                $(window).on('load',function(){
                    
                    var altext = $('#alerttext').val();

                    if(typeof altext === "undefined" || altext == ""){
                       
                    }else{
                        $('#myModal').modal('show');
                    }
                });
            });
    body
        div#main-wrapper
                div.container
                    if(role=='general')
                        include ./templateGeneral
                    else
                        include ./templateAdmin
                    div(style="display: table;  overflow: hidden; width:100%;")
                        div.pagename 
                            div.row    
                                div.col-xs-1.col-sm-1.col-md-1.col-lg-1
                                    button.btn.btn-info.btn-sm(type='submit' style="float:left;" onclick="window.location.href='/addUser'")
                                        i.fa.fa-plus-square  Add User
                                div.col-xs-11.col-sm-11.col-md-11.col-lg-11
                                span Manage User         
                    div.row
                        div.col-xs-12.col-sm-12.col-md-12.col-lg-12
                       
                            table.tb.table.table-striped.table-bordered.table-sm(cellspacing="0" width="100%")
                                thead
                                    tr.header
                                        td(style="font-weight: bold;") ชื่อ นามสกุล
                                        td(style="font-weight: bold;") สิทธิผู้ใช้งาน
                                        td(style="font-weight: bold;") จัดการ
                                tbody
                                   - each item in rows
                                        tr
                                            td= item.fullName
                                            if(item.role=="general") 
                                                td="ผู้ใช้งานทั่วไป" 
                                            else 
                                                td="ผู้ดูแลระบบ"
                                            td 
                                                if(item.userName == "admin")
                                                     div(style="display:inline;")
                                                        a.btn.btn-warning.btn-xs(type='submit' style="float:left;" href="/editUser/"+item._id  )
                                                            i.fa.fa-pencil-square-o.btnEditDelete  
                                                            span.btnEditDelete แก้ไข
                                                else
                                                    div(style="display:inline;")
                                                        a.btn.btn-warning.btn-xs(type='submit' style="float:left;" href="/editUser/"+item._id  )
                                                            i.fa.fa-pencil-square-o.btnEditDelete  
                                                            span.btnEditDelete แก้ไข
                                                    form(name="deleteUser" , method="POST" , action="/deleteUser") 
                                                            input(type="text",name="id",value=item._id style="display:none;") 
                                                            button.btn.btn-danger.btn-xs(type='submit' style="float:left; margin-left:10px;" onClick="return confirm('Are you sure you want to delete " + item.fullName + "?')") 
                                                                 i.fa.fa-trash-o.btnEditDelete  
                                                                 span.btnEditDelete   ลบ
                                                      
                                        
                //- button.btn.btn-info.btn-lg(type="button" data-toggle="modal" data-target="#myModal") Open Modal  
                input(type="hidden" value=messages id="alerttext")
                div.modal.fade#myModal(role="dialog" style="width:30%;margin-left:auto;margin-right:auto;")
                    div.modal-dialog
                    div.modal-content
                        div.modal-header
                        button.close(type="button" data-dismiss="modal") &times;
                        div.modal-title(style="color:grey;font-size:10px")&nbsp; ข้อความ!
                        div.modal-body(style="font-size:8px;color:#78c17f")
                                each msg in messages   
                                    .flash=msg                      
                        div.modal-footer
                            button.btn.btn-default( type="button" data-dismiss="modal") Close
            

                        
                //- script(src='templateInside/js/jquery.min.js')
                script(src='templateInside/js/jquery.backstretch.min.js')
                script(src='templateInside/js/jquery.flexslider.min.js')
                script(src='templateInside/js/bootstrap.min.js')
                script(src='templateInside/js/templatemo_script.js')