doctype html
html( class="no-js")  
    head
        title= title
       

        link(href='/css/main.css', rel='stylesheet')
        link(rel='stylesheet', type='text/css', href='templateInside/css/bootstrap.min.css') 
        //-    //- link(href='/css/all.css', rel='stylesheet') 
        //-   <meta charset="utf-8">
        //- //- <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
        meta( name='keywords', content='' ) 
        meta( name='description', content='' ) 
        
        //- <!--    Authentic Template   http://www.templatemo.com/tm-412-authentic    -->
        meta( name='viewport', content='width=device-width' ) 
        link(rel='stylesheet', type='text/css', href='templateInside/css/templatemo_main.css') 
        script(src='jquery/dist/jquery.dataTables.min.js')
        script(src='bootstrap/dist/js/dataTables.bootstrap.min.js')
        script(src='jquery/dist/jquery-3.3.1.js')
        script.
           $(document).ready(function() {
               var t = ''; 
                var flag = false;
                $("#myInput").on("keyup", function() {
                 
                   $("#tbmaterial").show().fadeIn(function(){
                       
                       flag = true;
                   })
                  
                    if(flag){  
                         $("#imgbg").hide();
                        var value = $(this).val().toLowerCase();
                        if(value!=""){
                           $("#tbmaterial tr").filter(function() {
                                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)  
                            });
                        }else{
                             $("#tbmaterial").hide();
                               $("#imgbg").show();
                        }
                    }
                  
                });

               

        
                $(window).on('load',function(){
                    
                    var altext = $('#alerttext').val();

                    if(typeof altext === "undefined" || altext == ""){
                       
                    }else{
                        $('#myModal').modal('show');
                    }


                     var url_string  = window.location.href;  
                  
                    if(url_string.indexOf("room") > -1){
                        $("#tbmaterial").show();
                         $("#imgbg").hide();
                        const urlParams = new URLSearchParams(window.location.search);
                        const myParam = urlParams.get('room');
                        var value = myParam.toLowerCase();  
                        $("#tbmaterial tr").filter(function() {
                 
                            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                        });
                    } else{
                        flag = false;
                        $("#tbmaterial").hide();
                        $("#imgbg").show();
                    }
                });
            });
    body
        div#main-wrapper
            div.container
                if(role=='general')
                    include ./templateGeneral
                else
                    include ./templateAdmin
                div(style="display: table;  overflow: hidden; width:100%;")
                    div.pagename 
                        div.row    
                                div.col-xs-1.col-sm-1.col-md-1.col-lg-1
                                    button.btn.btn-info.btn-sm(type='submit' style="float:left;" onclick="window.location.href='/map'")
                                        i.fa.fa-map-marker  Map
                                div.col-xs-11.col-sm-11.col-md-11.col-lg-11
                                    span Search   
               
                div.row    
                    div.col-xs-6.col-sm-6.col-md-6.col-lg-6                            
                    div.col-xs-6.col-sm-6.col-md-6.col-lg-6 
                        input.form-control#myInput.input-xs( type="text" placeholder="Search.." name="btnsearch")
                div#imgbg.col-xs-12.col-sm-12.col-md-12.col-lg-12(style="background-image:url('img/aaa.jpg');margin-top:20px;width:100% ;background-size: cover;")
                table#tbmaterial.tb.table.table-striped.table-bordered.table-sm(cellspacing="0" width="100%" data-show-header="true" data-pagination="true"
           data-id-field="name"
           data-page-list="[5, 10, 25, 50, 100, ALL]"
           data-page-size="5")
                                thead
                                    tr.header(style="background-color:#8e7863;color:white;")
                                        td(style="font-weight: bold;") วันที่อัพเดท
                                        td(style="font-weight: bold;") ชื่อครุภัณฑ์
                                        td(style="font-weight: bold;") รูปภาพ
                                        td(style="font-weight: bold;") บาร์โคด
                                        td(style="font-weight: bold;") หมายเลขครุภัณฑ์
                                        td(style="font-weight: bold;") ตำแหน่ง
                                        if(role=='general')
                                            td(style="font-weight: bold;text-align:center;") จัดการ
                                        else
                                            td(style="font-weight: bold;text-align:center;" colspan="2") จัดการ
                                       
                                tbody
                                   - each item in rows
                                        tr
                                            td= item.updateDate.toDateString()
                                            td= item.nameobject
                                            td(style="width:15%") 
                                                img.picintb(src='data:image/jpg;base64,'+item.imageobject.data style="width:100%;display: block;"  class="img-responsive")
                                            td(style="width:15%")=item.textbarcode
                                                img.picintb(src='data:image/jpg;base64,'+item.imagebarcode.data style="width:100%;display: block;"  class="img-responsive")
                                            
                                            td= item.materialid
                                            td= item.location

                                            if(role=='general')
                                                td 
                                                    div(style="display:inline;")
                                                        a.btn.btn-warning.btn-xs(type='submit' style="float:left;" href="/detail/"+item._id  )
                                                            i.fa.fa-pencil-square-o.btnEditDelete   
                                                            span.btnEditDelete  แก้ไข
                                            else
                                                td 
                                                    div(style="display:inline;")
                                                        a.btn.btn-warning.btn-xs(type='submit' style="float:left;" href="/detail/"+item._id  )
                                                            i.fa.fa-pencil-square-o.btnEditDelete  
                                                            span.btnEditDelete    แก้ไข
                                            
                                                td
                                                    form(name="deleteMat" , method="POST" , action="/deleteMat") 
                                                        input(type="text",name="id",value=item._id style="display:none;") 
                                                        button.btn.btn-danger.btn-xs(type='submit' style="float:left; margin-left:10px;" onClick="return confirm('Are you sure you want to delete " + item.materialid + "?')") 
                                                            i.fa.fa-trash-o.btnEditDelete  
                                                            span.btnEditDelete    ลบ

                                                      
                                        
                //- button.btn.btn-info.btn-lg(type="button" data-toggle="modal" data-target="#myModal") Open Modal  
                input(type="hidden" value=messages id="alerttext")
                div.modal.fade#myModal(role="dialog" style="width:30%;margin-left:auto;margin-right:auto;")
                    div.modal-dialog
                    div.modal-content
                        div.modal-header
                        button.close(type="button" data-dismiss="modal") &times;
                        h4.modal-title(style="color:grey;")&nbsp;&nbsp; ข้อความ!

                        div.modal-body(style="font-size:15px;color:#78c17f")
                             each msg in messages   
                                .flash=msg   
                        
                        div.modal-footer
                            button.btn.btn-default( type="button" data-dismiss="modal") Close
            

                        
                //- script(src='templateInside/js/jquery.min.js')
                script(src='templateInside/js/jquery.backstretch.min.js')
                script(src='templateInside/js/jquery.flexslider.min.js')
                script(src='templateInside/js/bootstrap.min.js')
                script(src='templateInside/js/templatemo_script.js')